<article class='blog-post'>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <header>
        <h1 class='title'><a href="<%= post_url %>"><%= post_title %></a></h1>
      </header>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-2">
      <div class='posted-info'>
        <p><time datetime="<%= post_date.strftime('%FT%T%:z') %>" pubdate="pubdate" class="published-datetime"><%= post_date.strftime('%B %e, %Y') %></time></p>
        <p>
        <% if post_author %>
          <% if post_author_github_handle %>
            <%= post_author %></br>
            <a href="http://github.com/<%= post_author_github_handle %>">@<%= post_author_github_handle %></a>
          <% else %>
            <span><%= post_author %></span>
          <% end %>
        <% else %>
          Andrew De Ponte</br><a href="http://github.com/cyphactor">@cyphactor</a>
        <% end %>
        </p>
        <div class="tag_list">
          <ul>
          <% post_tags.each do |current_tag| %>
            <li><a class="tag" href="<%= tag_path(current_tag) %>"><%= current_tag %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <section>
        <%= post_body %> 
        <div style="clear: both;"></div>
      </section>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  <hr>
</article>
