<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BoxCI: Documentation</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'application.css' %>
    <%= stylesheet_link_tag 'rouge.css' %>
  </head>
  <body>
    <%= partial 'partials/main_nav' %>

    <div id="main" role="main" class="docs">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <%= yield %>
          </div>

          <aside class="col-sm-3 col-sm-offset-1">
            <div class="side-module">
              <h2>Guides</h2>
              <ul>
                <li><a href="/docs/guides/getting_started.html">Getting Started</a></li>
                <!-- <li><a href="#">Validate your .boxci.yml</a></li> -->
                <!-- <li><a href="#">Headless Testing with Browsers</a></li> -->
              </ul>
            </div>

            <div class="side-module">
              <h2>References</h2>
              <ul>
                <li><a href="/docs/references/build_configuration.html">Build configuration</a></li>
                <li><a href="#">The CI Environment</a></li>
                <li><a href="#">Command Line Interface</a></li>
                <!-- <li><a href="#">Common Build Problems</a></li> -->
              </ul>
            </div>

            <div class="side-module">
              <h2>Language-Specific Guides</h2>
              <ul>
                <li><a href="#">Ruby</a></li>
                <!-- <li><a href="#">Java</a></li> -->
              </ul>
            </div>

            <div class="side-module">
              <h2>Developer Guides</h2>
              <ul>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Contribiting Code</a></li>
              </ul>
            </div>

            <div class="side-module">
              <h2>Contact</h2>
              <ul>
                <li><a href="irc://chat.freenode.net/%23boxci">IRC</a></li>
              </ul>
            </div>

            <div class="side-module">
              <h2>Contributing</h2>
              <p class="item">This documentation site is open source. Feel free to <a href="http://github.com/reachlocal/boxci-site/issues">file issues about it</a>. The README in our <a href="http://github.com/reachlocal/boxci-site">Git repository</a> explains how to contribute.</p>
            </div>
          </aside>
        </div>
      </div>
    </div>
    
    <%= partial 'partials/footer' %>
    <%= javascript_include_tag 'application.js' %>
  </body>
</html>
